@import url(https://fonts.googleapis.com/css?family=Roboto:400|Roboto+Slab:400);

html, body {
	width: 100%;
	font-size: 18px;
	line-height: 1.4;
}

body {
	background: #010101;
	padding:0;
	font-family: 'Roboto', sans-serif;
	color: #cccccc;
	margin-top: 50px;
}

h1, h2, h3, h4, p.subtitle {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h1 {
	font-size: 50px;
	padding: 0;
	margin-bottom: 20px;
}

h2 {
	font-size: 35px;
	border-bottom: 1px dotted #ffffff;
	padding: 0 0 15px 0;
	margin: 0 0 20px 0;
}

h3 {
	font-size: 20px;
	padding-bottom: 10px;
	margin: 0;
	line-height: 1.4;
}

ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

a,
a:visited,
a:focus,
a:active {
	color: #eeeeee;
	text-decoration: none;
	border-bottom: 1px dotted #eeeeee;
}

a:hover {
	color: #aaaaaa;
	border-bottom: 1px dotted #aaaaaa;
	text-decoration: none;
}

a.btn {
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 15px;
}

a.btn-primary,
a.btn-primary:link,
a.btn-primary:visited,
a.btn-primary:focus,
a.btn-primary:active {
	background-color: #010101;
	color: #eeeeee;
	border-color: #eeeeee;
	border-bottom: 1px solid #eeeeee;
	margin-top: 5px;
}

a.btn-primary:hover,
a.btn-primary:visited:hover,
a.btn-primary:active:hover,
a.btn-primary:link:hover,
a.btn-primary:focus:hover {
	background-color: #010101;
	color: #aaaaaa;
	border-color: #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

img, video, .video-fallback {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

header {
	border-bottom: 1px dotted #ffffff;
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 100%;
}

footer {
	padding-top: 15px;
	padding-bottom: 50px;
	border-top: 1px dotted #ffffff;
	text-align: center;
	font-size: 0.75rem;
	line-height: 1.6;
	text-align: left;
}

footer .title {
	padding-top: 5px;
	margin-bottom: 15px;
	font-size: 1rem;
}

p.subtitle{
	font-size: 25px;
	margin: 0;
	line-height: 1.4;
	margin-bottom: 20px;
}

.hr {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	border-bottom: 1px dotted #aaaaaa;
	margin-top: 5px;
	margin-bottom: 20px;
}

.container {
	max-width: 768px;
}

.introduction, .opensource {
	margin-bottom: 3rem;
}

.tags {
	margin-bottom: 50px;
	font-size: 0.75rem;
	line-height: 1.6;
}

.social {
	display: block;
}

.social ul,
.social li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social li {
	display: inline-block;
	margin-right: 10px;
}

.social li:last-child {
	margin-right: 0;
}

.social a {
	border: none;
	font-size: 35px;
	line-height: 1;
}

header .social {
	text-align: left;
}

footer {
	margin-top: 40px;
}

footer .social {
	text-align: center;
}

.projects {
	margin-bottom: 50px;
}

.projects-list div.hr:last-child{
	display: none;
}

.projects-item {
	display: block;
	margin-bottom: 0;
}

.projects-item .image {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	padding-bottom: 15px;
}

.code {
	position: relative;
}

.code button {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
}
