@page {
    margin: 2.5cm;
    margin-bottom: 1.5cm;
}

html {
    font-size: 1cm;
}

body {
    background: white;
    color: black;
}

.projects-item {
    page-break-after: always;
}

.projects-item .description a {
    border: none;
    font-size: 0.5rem;
    padding: 0;
}

.tags {
    display: none;
}