<div class="footer">
	<div class="social">
		<ul>
			<li>
				<a href="javascript:alert('&copy; Krisjanis Rijnieks 2018')" 
					title="&copy; Krisjanis Rijnieks 2018">
					<i class="fa fa-copyright"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/kr15h" 
					target="_blank" 
					title="Krisjanis Rijnieks on GitHub">
					<i class="fa fa-github"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/kriwkrow" 
					target="_blank" 
					title="Krisjanis Rijnieks on Instagram">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/kriwkrow" 
					target="_blank" 
					title="Krisjanis Rijnieks on Twitter">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="http://www.linkedin.com/in/krisjanisrijnieks" 
					target="_blank" 
					title="Krisjanis Rijnieks on LinkedIn">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
		</ul>
	</div><!-- /.social -->
</div>
