<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<title>{{ .Site.Title }} :: {{ .Site.Params.subtitle }}</title>
	{{ partial "head/meta.html" . }}
	{{ partial "head/css.html" . }}
	{{ partial "head/js.html" . }}
</head>
<body>

<div class="container">
	{{ partial "header.html" . }}

	<div class="introduction">
		{{ .Content }}
	</div>

	<div class="opensource">

		<h2>Open Source</h2>

		<p>Here you can find a list of my open source projects. These are either experiments or tools that I have built to support my art, design and teaching practice. I have came up with the idea to publish a summary of them here recently and there is still work to be done to be able to add more items to the list.</p>

		<ul>
			<li><a href="https://ofxpimapper.com">Pi Mapper</a><br>
			    Projection mapping software for the Raspberry Pi</li>
			<li><a href="https://kriwkrow.gitlab.io/pivlc/">PiVLC</a><br>
			    Turn your Pi into 4K media player</li>
			<li><a href="https://gitlab.com/kriwkrow/stepstick-shield/">Stepstick Shield</a><br>
			    Fabbable Arduino shield for single stepper control</li>
		</ul>

	</div>

	<div class="projects">

		<h2>Projects</h2>

		<div class="projects-list">
			{{ range .Site.Sections }}
				{{ if eq .Type "projects" }}
					{{ range sort .Pages ".Weight" "desc" }}
						{{ partial "project.html" . }}
						{{ if .Next }}
							<div class="hr"></div>
						{{ end }}
					{{ end }}
				{{ end }}
			{{ end }}
		</div>
	</div>

	{{ partial "footer.html" . }}
</div>

</body>
</html>
